<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <entityFramework>
           <providers>
         <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6" />
       </providers>
  </entityFramework>
<!--<connectionStrings><add name="sql3238345Entities" connectionString="metadata=res://*/MyModel.csdl|res://*/MyModel.ssdl|res://*/MyModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=sql3.freesqldatabase.com;user id=sql3238345;password=aTP2JK5pRm;database=sql3238345&quot;" providerName="System.Data.EntityClient" /></connectionStrings>-->
<!--<connectionStrings><add name="sql3238345Entities" connectionString="metadata=res://*/MyModel.csdl|res://*/MyModel.ssdl|res://*/MyModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=root;password=;database=PMSysDB&quot;" providerName="System.Data.EntityClient" /></connectionStrings>-->
 
<connectionStrings><add name="sql3238345Entities" connectionString="metadata=res://*/MyModel.csdl|res://*/MyModel.ssdl|res://*/MyModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=sql3.freesqldatabase.com;user id=sql3238345;password=aTP2JK5pRm;database=sql3238345&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>